In [ ]:
'''
Plan of action:

1. Clean up the data
DONE  - Find and replace proper headers
DONE  - Remove timestamp from [date_sold]
  
2. Compile basic stats
  - number of unique properties sold
  - earlest, latest sold date
  - largest, smallest, median, mean, stdef of sold prices
  - bin sold prices and show on bar chart
  - find average sold price per postcode and show top 10 and bottom 10
  - show sales volume by postcode for the last tear

In [4]:
#import libraries
import pandas as pd #pandas
import os #os
import datetime #datetime

In [57]:
#create df by importing raw property file
df = pd.read_csv("C:/Users/KPEBE/Downloads/pp-complete.csv", names=["transaction_id", "price_sold", "date_sold", "postcode", "property_type", "newbuild", "tenure", "house_number_or_name", "flat_number", "street_name", "locality", "town_city", "district", "county", "price_paid_type", "record_status"])

In [58]:
dfBackup = df

In [59]:
#create df for development containing first 100 rows of df
df = df[:100]

In [60]:
#remove timestamp from [date_sold] filed
df["date_sold"] = df["date_sold"].apply(lambda x:str(x)[:10])

<ipython-input-60-02fe1177686f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_sold"] = df["date_sold"].apply(lambda x:str(x)[:10])

In [51]:
#convert to Pandas dataframe
df = pd.DataFrame(df)

In [56]:
df.head(30)

,id,price_sold,date_sold,postcode,header1,header2,header3,house_number,flat_no,street_name,city,city2,borough,borough2,header4,header5
0,{A42E2F04-2538-4A25-94C5-49E29C6C8FA8},18500,1995-01-31,TQ1 1RY,F,N,L,VILLA PARADISO,FLAT 10,HIGHER WARBERRY ROAD,TORQUAY,TORQUAY,TORBAY,TORBAY,A,A
1,{1BA349E3-2579-40D6-999E-49E2A25D2284},73450,1995-10-09,L26 7XJ,D,Y,F,6,NaN,CATKIN ROAD,LIVERPOOL,LIVERPOOL,KNOWSLEY,MERSEYSIDE,A,A
2,{E5B50DCB-BC7A-4E54-B167-49E2A6B4148B},59000,1995-03-31,BH12 2AE,D,N,F,28,NaN,ALDER ROAD,POOLE,POOLE,POOLE,POOLE,A,A
3,{81E50116-D675-4B7F-9F8D-49E2B5D43271},31000,1995-12-04,IP13 0DR,D,Y,F,NONSUCH COTTAGE,NaN,THE STREET,HACHESTON,WOODBRIDGE,SUFFOLK COASTAL,SUFFOLK,A,A
4,{B97455B9-75CB-40BB-A615-42C53683E143},95000,1995-09-22,WS14 0BE,D,N,F,FOX COVER COTTAGE,NaN,HALL LANE,LICHFIELD,LICHFIELD,LICHFIELD,STAFFORDSHIRE,A,A
5,{F0D1E8DA-C00D-467A-A41C-42C5378DB6E0},45450,1995-02-28,S42 5GA,S,Y,F,109,NaN,ELVASTON ROAD,NORTH WINGFIELD,CHESTERFIELD,NORTH EAST DERBYSHIRE,DERBYSHIRE,A,A
6,{7DAC48DA-D479-4922-86B0-42C5580DFC67},96000,1995-10-27,KT17 2DU,S,N,F,82,NaN,KINGSTON ROAD,EPSOM,EPSOM,EPSOM AND EWELL,SURREY,A,A
7,{10E5F080-7AF3-4982-AAEF-42C55DC955FC},30000,1995-11-28,WS10 9LD,S,N,F,66,NaN,HILL STREET,WEDNESBURY,WEDNESBURY,WALSALL,WEST MIDLANDS,A,A
8,{B365B080-3670-4955-80F8-42C55F081143},425000,1995-03-31,KT11 1HP,D,N,F,18,NaN,BRUNSWICK GROVE,COBHAM,COBHAM,ELMBRIDGE,SURREY,A,A
9,{7648EFE5-67A0-4728-B5DE-42C565DA1D28},89995,1995-06-30,WF6 2TT,D,Y,F,8,NaN,SHAW AVENUE,NORMANTON,NORMANTON,WAKEFIELD,WEST YORKSHIRE,A,A
10,{D30EEA6F-CFB6-489A-9D03-4652DB154C43},40000,1995-10-27,NR17 1EY,S,N,F,17,NaN,WESTFIELDS,ATTLEBOROUGH,ATTLEBOROUGH,BRECKLAND,NORFOLK,A,A
11,{5C8445A0-73F8-4C40-A5DA-4652EA727BDC},105000,1995-08-31,OX17 1JU,D,N,F,8,NaN,HOGG END,CHIPPING WARDEN,BANBURY,SOUTH NORTHAMPTONSHIRE,NORTHAMPTONSHIRE,A,A
12,{2600B105-2E30-49D1-B7EE-4652EC1C1ED2},78000,1995-03-03,TF2 9NW,T,N,F,21,NaN,PRIORSLEE VILLAGE,TELFORD,TELFORD,THE WREKIN,SHROPSHIRE,A,A
13,{FB2EF8AC-3BD7-4AD3-BA8B-4652FA1B4804},100000,1995-09-18,CW12 3DG,S,N,F,48,NaN,PARK LANE,CONGLETON,CONGLETON,CONGLETON,CHESHIRE,A,A
14,{CD39CFC2-E6D1-47D9-A588-3F31DB3D3CA2},52000,1995-08-10,BH1 1QY,F,N,L,"DUKES COURT, 17",FLAT 4,CAVENDISH ROAD,BOURNEMOUTH,BOURNEMOUTH,BOURNEMOUTH,BOURNEMOUTH,A,A
15,{A4315312-90D5-42D1-85F6-3F3209E9C709},59995,1995-10-19,SM6 7AG,F,Y,L,55,NaN,CARAWAY PLACE,WALLINGTON,WALLINGTON,SUTTON,GREATER LONDON,A,A
16,{F745AFC7-E616-49D0-8ABC-3F320DF886C7},40000,1995-06-09,BD6 3AR,T,N,F,8,NaN,LAITHE GROVE,BRADFORD,BRADFORD,BRADFORD,WEST YORKSHIRE,A,A
17,{8AB39A42-2CE5-4D9F-8621-3BA0D6F6481E},48950,1995-06-23,SK16 5NS,T,N,L,7,NaN,HYDE STREET,DUKINFIELD,DUKINFIELD,TAMESIDE,GREATER MANCHESTER,A,A
18,{5BBAE523-83F4-4829-BDE9-3BA0E3D921FD},39950,1995-10-27,NG15 7LY,S,N,F,53,NaN,STORTH AVENUE,HUCKNALL,NOTTINGHAM,ASHFIELD,NOTTINGHAMSHIRE,A,A
19,{A1706A91-41A6-4410-810C-49E2E64C65FA},220000,1995-03-31,HD3 3BG,D,N,F,30,NaN,TALBOT AVENUE,HUDDERSFIELD,HUDDERSFIELD,KIRKLEES,WEST YORKSHIRE,A,A
20,{8BBD4A7E-9CB1-4B8E-9C10-49E2EDB6B316},43000,1995-09-15,NG31 8JW,S,N,F,21,NaN,LYNDEN AVENUE,GONERBY HILL FOOT,GRANTHAM,SOUTH KESTEVEN,LINCOLNSHIRE,A,A
21,{46389557-1745-4ABC-9E26-49E2FD872FC2},110000,1995-09-08,CF72 8DW,D,N,F,47,NaN,PORTREEVE CLOSE,LLANTRISANT,PONTYCLUN,TAFF-ELY,MID GLAMORGAN,A,A
22,{07E1F26A-6EAB-4070-8CC3-42C58AA6302A},59500,1995-11-17,SN2 2SY,D,N,F,36,NaN,MARIGOLD CLOSE,SWINDON,SWINDON,THAMESDOWN,THAMESDOWN,A,A
23,{9F13AD5A-B59E-4AD9-9995-42C58D554F3D},35000,1995-07-28,WA7 2JW,S,N,F,6,NaN,FLAVIAN COURT,RUNCORN,RUNCORN,HALTON,HALTON,A,A
24,{5213A267-E7E5-4268-8EE5-42C59C284E6B},57000,1995-12-22,MK11 1JL,T,N,F,10,NaN,LONDON ROAD,STONY STRATFORD,MILTON KEYNES,MILTON KEYNES,MILTON KEYNES,A,A
25,{133810A8-13D4-464F-B669-4653332E03E7},63500,1995-12-08,CB24 5JT,D,N,F,127,NaN,BALLAND FIELD,WILLINGHAM,CAMBRIDGE,SOUTH CAMBRIDGESHIRE,CAMBRIDGESHIRE,A,A
26,{927E7DBB-019C-4930-A7FA-4653543EE5A7},82000,1995-06-30,PR2 9RF,D,N,F,2,NaN,THE BLOSSOMS,FULWOOD,PRESTON,PRESTON,LANCASHIRE,A,A
27,{67848D74-08F1-4ED7-8F86-3F322B79FBD9},28250,1995-04-04,PR26 7YB,T,N,F,27,NaN,NOOKFIELD,LEYLAND,LEYLAND,SOUTH RIBBLE,LANCASHIRE,A,A
28,{699E5C65-3B68-4DA5-8F6E-3F3230FA7F1B},94000,1995-10-27,ME15 9XA,D,N,F,18,NaN,HALSTOW CLOSE,MAIDSTONE,MAIDSTONE,MAIDSTONE,KENT,A,A
29,{F4DBBAF4-63F9-4C55-BAF7-3F32415E5D3B},41000,1995-11-27,FY6 0QB,S,N,F,6,NaN,ROSSLYN CRESCENT EAST,PREESALL,POULTON-LE-FYLDE,WYRE,LANCASHIRE,A,A

In [48]:
print(df[(df["house_number"]=="5") & (df["street_name"]=="BROOK ROAD") & (df["borough"]=="TUNBRIDGE WELLS")])

                                              id   price         date_sold  \
20080360  {08E30E49-0ACB-4161-86ED-A220E0A3DF74}  236555  2015-08-04 00:00

         postcode header1 header2 header3 house_number flat_no street_name  \
20080360  TN2 3AZ       S       N       F            5     NaN  BROOK ROAD

         city            city2          borough borough2 header4 header5
20080360  NaN  TUNBRIDGE WELLS  TUNBRIDGE WELLS     KENT       A       A